*{
    padding: 0;
    margin: 0;

}
body{
    overflow: hidden;
}


#game{
    height: 100vh;
    width: 100vw;
margin: auto;
overflow: hidden;
}
#ground{

    width: 100vw;
    height: 20vh;
    background-color: rgb(14, 182, 14);
    top:80;
    z-index: 2;   

}
#sky{

    width: 100vw;
    height: 80vh;
    background: rgb(204,237,255);
    background: linear-gradient(180deg, rgba(204,237,255,1) 0%, rgba(242,253,255,1) 100%); 
    z-index: 1;
  overflow:hidden;

}
#boy{
    width: 6vw;
    height: 8vh;
    position: absolute;
    left:0vw;
    top:42vh;
    background-color:  rgba(233, 229, 229, 0);
   z-index: 3;
   border-radius: 100%;
   
}
#boy #bog{
    width: 5.5rem;
    height: 5.5rem; 
    border-radius: 100%;
/* box-shadow: 20px 0px 30px 0px rgb(0, 0, 0); */
    /* -webkit-animation:spin 5s linear infinite;
    -moz-animation:spin 5s linear infinite;
    animation:spin 5s linear infinite; */
    z-index: 3;
  
    position: absolute;
}
#ground #post{
    width: 25.5em;
    height: 26.5em;
    position: fixed;
    z-index: 1;
    bottom:8vh;
    right: 0vw;
   
}
#ground #start{

    width: 10.5em;
    height: 15.5em;
    position: fixed;
    z-index: 2;
    bottom:17vh;
    left:8vw;

}
/* @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } } */
#home{
    z-index: 999;
    -ms-transform: skewY(10deg); /* IE 9 */
  transform: skewY(0deg);
  -ms-transform: skewX(10deg);
  transform: skewX(0deg);
  transform-style: preserve-3d;
  position: relative;
}
#home h1{
text-align: center;
padding-top: 18vh;
padding-bottom: 5vh;
font-size: 5.7rem;
font-family: 'Potta One', cursive;
color:rgb(230, 78, 68);
text-shadow: 10px 10px rgb(255, 255, 255);

}
#home h2{
    text-align: center;
    padding-top: 3vh;
    padding-bottom: 5vh;
    font-size: 3.7rem;
    font-family: 'Potta One', cursive;
    color: rgb(213, 226, 95);
    text-shadow: 10px 10px rgb(255, 255, 255);
 
    }
    #home #changeText{
        color:  rgb(31, 67, 77);
    }
    #sky #cloud1{
        position: absolute;
        width: 9.5rem;
        height: 6.5rem; 
        top:3vh;
        left:4vw;
       animation: block 15s infinite linear;
       z-index: 2;
    }
    @keyframes block{
        0%{left:0vw;}
        100%{left: 30vw;}
    }
    #sky #cloud2{
        position: absolute;
        width: 9.5rem;
        height: 6.5rem; 
        top:6vh;
        left:75vw;
        animation: block2 15s infinite linear;
        z-index: 2;
    }
    @keyframes block2{
        0%{left:75vw;}
        100%{left: 100vw;}
    }
    #sky #cloud3{
        position: absolute;
        width: 9.5rem;
        height: 6.5rem; 
        top:20vh;
        left:85vw;
        animation: block3 14s infinite linear;
        z-index: 2;
    }
    @keyframes block3{
        0%{left:85vw;}
        100%{left: 100vw;}
    }
    #sky #cloud4{
        position: absolute;
        width: 9.5rem;
        height: 6.5rem; 
        top:16vh;
        left:10vw;
        animation: block4 14s infinite linear;
        z-index: 0;
    }
    @keyframes block4{
        0%{left:10vw;}
        100%{left: 30vw;}
    }
    #sky #cloud5{
        position: absolute;
        width: 9.5rem;
        height: 6.5rem; 
        top:6vh;
        left:20vw;
        animation: block5 15s infinite linear;
        z-index: 2;
    }
    @keyframes block5{
        0%{left:20vw;}
        100%{left: 50vw;}
    }
    #sky #cloud6{
        position: absolute;
        width: 9.5rem;
        height: 6.5rem; 
        top:6vh;
    left:60vw;
        animation: block6 15s infinite linear;
        z-index: 2;
    }
    @keyframes block6{
        0%{left:60vw;}
        100%{left: 90vw;}
    }
    /* #sky img{
        width: 9.5rem;
        height: 6.5rem; 
    } */

    #about{
        display: none;
        width: 58.5vh;
        height: 80.5vh;
        position: absolute;
        z-index: 2;
        bottom:16vh;
        left:8vw;
    }
    #aboutdis{
        display: none;
    }
    #aboutdis .box{
        background: rgb(64, 92, 87);
       color: rgb(255, 255, 255);
        border-radius: 30px;
        position: absolute;
        right:10vw;
        bottom:30vh;
        width: 38vw;
        padding: 30px;
        box-shadow: 0px 0px 20px 0px rgba(207, 207, 207, 0.733);
    }
    #aboutdis .box h3{
        text-align: center;
        font-size: 2.4vw;
        font-family: 'Sofia', cursive;
   
    }
    #aboutdis .box p{
        text-align: justify;
        font-size: 1.5vw;
        font-family: 'Sofia', cursive;
    
    }
#skils {
    display: none;
}
#myChart{
    width: 40vw;
    min-height:60vh ;
    max-height:65vh ;
    min-width: 40vw;
    max-width: 60vw;
    position: absolute;
    left: 5vw;
    bottom:22vh;
   
   
}
#skilimg{
    width: 25vw;
    height: 40vh;
    bottom:15vh;
    right: 5vw;
position:absolute;
}
#awards{
    display: none;
}
#awards #stat{
    bottom:18vh;
    left:-2vw;
    width: 30vw;
    height: 50vh;
    position:absolute;
}
#awards .box{

    background: rgba(255, 255, 255, 0.835);
    border-radius: 5px;
    position: absolute;
    right:3vw;
    bottom:18vh;
    width: 64vw;
    height: 60vh;
    padding: 30px;
    color: rgb(0, 0, 0);
  
    box-shadow: 0px 0px 5px 0px rgba(139, 139, 139, 0.822);
    border: 2vw solid rgb(167, 104, 22);
    z-index: 2;
}
#awards .box h3{
    font-size: 1.9vw;
    text-align: center;
    padding: 2px;
    font-family: 'Quicksand', sans-serif;

   
}
#awards .box li{
    font-size: 1.5vw;
    padding: 0.5vh;
}
#awards .box ul{
    padding: 0.2vh;
    padding-left:25px ;
    font-family: 'Quicksand', sans-serif;
}


#contact{
    display: none;
}
#conimg{
    position: absolute;
    bottom: 1vh;
    right:6vw;
    width: 22vw;
    height: 40vh;

}
#contact .box{
    position: absolute;
    border-radius: 10%;
    width: 40vw;
    height: 30vh;
    left:12vw;
    bottom:35vh;
    padding: 0.3vw;
    background: rgb(255,165,118);
    background: linear-gradient(73deg, rgb(241, 150, 101) 0%, rgb(243, 133, 82) 100%);
    text-align: center;
    font-family: 'Yeon Sung', cursive;
    color:white;
    border: 6px solid #aa4806;
}
#contact .box h1{
    font-size: 4vw;
}
#contact .box i{
    font-size: 5vw;
 
    margin:3vh ;
   
}

#contact .box i:hover{
color: rgb(255, 255, 255);
animation: shake 0.5s;
animation-iteration-count: infinite;
}

  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
#ground #buttonleft{
position: absolute;
bottom:0vh;
left:43.5vw;
padding: 1vh;
background-color: rgba(255, 255, 255, 0.5);
color: rgb(0, 0, 0);
border: none;
margin: 1.3vw;
border-radius: 20%;
font-size: 3vw;
}

        
            .myButton {
                box-shadow: 0px 10px 14px -7px #e0aa21;
                background:linear-gradient(to bottom, #ff9a1f 5%, #f5b000 100%);
                background-color:#ff9a1f;
                border-radius:8px;
                display:inline-block;
                cursor:pointer;
                color:#ffffff;
                font-family:Arial;
                font-size:20px;
                font-weight:bold;
                padding:13px 32px;
                text-decoration:none;
                text-shadow:0px 1px 0px #ffb700;
                position: absolute;
                text-align: center;
                bottom:-8vh;
                left:43vw;
           
            }
            .myButton:hover {
                background:linear-gradient(to bottom, #f5b000 5%, #ff9a1f 100%);
                background-color:#f5b000;
            }
            .myButton:active {
                position:absolute;
               
            }
            #ground #arrow{
                position: absolute;
                bottom:25vh;
                left:43vw;
                width: 10vw;
                height: 10vh;
                display: none;
            }
            #ground #arrow1{
                position: absolute;
                bottom:2vh;
                left:39vw;
                width: 20vw;
                height: 10vh;
                display: none;
                z-index: 2;
                color: white;
                font-size: 1.5vw;
                text-align: center;
            }
            #cert{
                display: none;
               
            }
            #certimg{
                position: absolute;
                width: 18vw;
                height: 26vh;
                top:0vh;
                right:-2vw;
                z-index: 4;

            
            }

           
        #website{
          background-color: white;
            position: absolute;
            left: 6vw;
            bottom: 17vh;
            border-radius: 20px;
            z-index: 2;

            width: 85vw;
            height: 65vh;
            box-shadow: 0px 0px 3px 0px #d6d6d6cc;
            border: 2vw solid rgb(44, 44, 44);
            box-shadow: -5px -5px rgb(94, 94, 94);
          
        }
        #cert h1{
            text-align: center;
      
       font-family: 'Fredericka the Great', cursive;
       font-size: 3vw;
       font-stretch: ultra-expanded;
       color: #ffffff;
       background:rgb(44, 44, 44);
       border: 4px solid #ffffff;
       border-radius: 10%;
       width: 75vw;
        }
        #website1{
            background-color: rgba(255, 255, 255, 0);
              position: absolute;
              left: 12.5vw;
              bottom: 85.5vh;
              z-index: 2;     
              border-radius: 10%;
              /* box-shadow: 0px 0px 3px 0px #474747cc; */
          }
          #contact a{
text-decoration: none;
color:white;
          }
         
          